{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "globals": {
    "document": true,
    "window": true,
    "process": true,
    "global": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-console": "warn",
    "no-unused-vars": "warn",
    "react/prop-types": 0
  }
}